.DS_Store
.idea
*.log
tmp/

*.bcf
*.out
*.run.xml
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
**/.auctex-auto/
_region_.*
*.synctex.gz
_minted/
*.bcf-SAVE-ERROR*
*.bbl-SAVE-ERROR*
*.lof
*.lot
*.toc
*.xdv
build/
Main.pdf
**/*.pdf
